body {
  height: 100vh;
  background-image: url("./image.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

h2 {
  color: #f0ead6;
  stroke-width: 1%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 900;
}

:root {
  --color: #7868e6;
}

.btn {
  position: relative;
  z-index: 0;
  width: 85px;
  height: 65px;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, rgba(0, 0, 0, 0.4));
  color: bisque;
  font-weight: 900;
}

.btn:hover {
  color: wheat;
  box-shadow: 0 0 5px var(--color), 0 0 25px var(--color);
  background-color: var(--color);
}

.btn:hover::after {
  transition: 0.3s;
  background: var(--color);
}

.btn:hover::before {
  transition: 0.3s;
  background: var(--color);
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  background-image: linear-gradient(var(--color), var(--color));
  transform-origin: left top;
  animation: rotates 2s linear infinite;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #022129;
  border-radius: 10px;
}

@keyframes rotates {
  100% {
    transform: rotate(1turn);
  }
}

.login-container {
  gap: 5px;
  width: 100%;
  max-width: 300px;
  margin: 240px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.login-container button:hover {
  background-color: #218838;
}
